body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app{
    margin-top: 10dvh;
    // background: no-repeat center url("/weatherData/assets/weather.jpg");
    width: 350px;
    height: 80dvh;
    border-radius: 25px;
    
    opacity: 80%;
}

.flexColumnCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
